# Session 1: Getting Started & Data Types (30 min)

**Today:** Python basics, Jupyter Notebooks, and data types

## What is Python?

* Free programming language for data analysis
* More flexible than SPSS
* Used widely in research and industry

## Jupyter Notebooks

Two cell types:
1. **Code cells** - run Python code
2. **Markdown cells** - write notes (like this)

**Run cells:** Shift + Enter

In [ ]:
# Your first Python code - print() displays output
print('Hello, Python!')

## Data Types

Python has different types of data:

1. **Integers** - whole numbers: `42`
2. **Floats** - decimals: `3.14`
3. **Strings** - text (needs quotes): `'Hello'`

In [ ]:
# Integer
22

In [ ]:
# Float
4.5

In [ ]:
# String (text needs quotes!)
'Hello World'

In [ ]:
# Check type with type()
type(3.14)

### ‚ö†Ô∏è Common Error: Forgetting Quotes

In [ ]:
# This causes an error (try it!):
# Hello World

In [ ]:
# This works:
'Hello World'

## Basic Math

In [ ]:
# Python works like a calculator
5 + 3

In [ ]:
10 - 4

In [ ]:
6 * 7

In [ ]:
20 / 4

## üéØ Practice Exercise

Try these tasks:
1. Print your name
2. Calculate 127 + 456
3. Check the type of 5.0
4. Create a string with a sentence

In [ ]:
# Task 1: Print your name

In [ ]:
# Task 2: Calculate 127 + 456

In [ ]:
# Task 3: Check type of 5.0

In [ ]:
# Task 4: Create a sentence

## ‚úÖ Key Takeaways

* Python is free and powerful for data analysis
* Jupyter: Code cells (run code) + Markdown cells (notes)
* Data types: **int** (whole), **float** (decimal), **str** (text with quotes)
* Use `print()` to display output
* Use `type()` to check data types

**Next:** Variables and operations!

# Session 1: Getting Started with Python & Data Types

**Welcome to your first Python class!**

Today we'll learn:
* What Python is and why we use it
* How to use Jupyter Notebooks
* Basic formatting with Markdown
* Different types of data in Python

---
## Part 1: What is Python?

Python is a **programming language** that:
* Is easy to read and write
* Is free and open source
* Is widely used for data analysis
* Has a large community creating helpful tools

**Why use Python instead of SPSS?**
* More flexible and powerful
* Free (SPSS requires expensive licenses)
* Better for working with large datasets
* Can automate repetitive tasks

---
## Part 2: Understanding Jupyter Notebooks

A Jupyter Notebook has two types of **cells**:

1. **Code cells** - where you write Python code
2. **Markdown cells** - where you write notes and explanations (like this cell!)

### How to run a cell:
* Click on the cell
* Press **Shift + Enter** (or click the ‚ñ∂ button)

### Let's try our first Python code!

The `print()` function displays text or numbers on the screen.

In [ ]:
# Run this cell by pressing Shift + Enter
print('Hello, Communication Science!')

### üéØ Exercise 1: Your Turn!

Write a `print()` statement below that displays your name.

In [ ]:
# Write your code here

---
## Part 3: Markdown Basics

Markdown lets you format text nicely. Here are some basics:

# This is a big heading
## This is a smaller heading
### This is an even smaller heading

You can make text **bold** or *italic*.

You can create lists:
* Item 1
* Item 2
* Item 3

Or numbered lists:
1. First
2. Second
3. Third

### üéØ Exercise 2: Practice Markdown

Double-click this cell to edit it. Then:
1. Write your favorite hobby in **bold**
2. Create a list of 3 things you want to learn in this course
3. Press Shift + Enter to see the formatted result

*Write your answer below this line:*

---
## Part 4: Numbers in Python

Python works with two main types of numbers:

1. **Integers** - whole numbers (like 1, 5, 100)
2. **Floats** - numbers with decimals (like 1.5, 3.14, 100.0)

In [ ]:
# This is an integer
42

In [ ]:
# This is a float (has a decimal point)
3.14

### Checking data types

We can use the `type()` function to check what type of data we have.

In [ ]:
# Check the type of 42
type(42)

In [ ]:
# Check the type of 3.14
type(3.14)

### üéØ Exercise 3: Numbers

In the cells below:
1. Write any integer (whole number)
2. Write any float (decimal number)
3. Use `type()` to check each one

In [ ]:
# Your integer here

In [ ]:
# Your float here

In [ ]:
# Check the type of your integer

---
## Part 5: Text in Python (Strings)

Text in Python is called a **string**. Strings must be wrapped in quotes.

You can use:
* Single quotes: `'Hello'`
* Double quotes: `"Hello"`

Both work the same way!

In [ ]:
# A string with single quotes
'This is text'

In [ ]:
# A string with double quotes
"This is also text"

In [ ]:
# Check the type
type('Hello')

### ‚ö†Ô∏è Common mistakes with strings

What happens if you forget the quotes?

In [ ]:
# This will cause an error - try running it!
Hello World

‚ùå **Error!** Python thinks `Hello` and `World` are variable names, not text.

**Always use quotes for text!**

### üéØ Exercise 4: Working with Strings

Try these tasks:

In [ ]:
# 1. Create a string with your favorite food and print it

In [ ]:
# 2. Check the type of a string

In [ ]:
# 3. Try printing a sentence that contains an apostrophe (hint: use double quotes!)
# Example: "It's a beautiful day"

---
## Part 6: Basic Math Operations

Python can work like a calculator!

In [ ]:
# Addition
5 + 3

In [ ]:
# Subtraction
10 - 4

In [ ]:
# Multiplication
6 * 7

In [ ]:
# Division
20 / 4

### üéØ Exercise 5: Calculator Practice

Solve these problems using Python:

In [ ]:
# 1. What is 127 + 456?

In [ ]:
# 2. What is 1000 divided by 8?

In [ ]:
# 3. What is 15 multiplied by 23?

---
## üéâ Summary

**Today you learned:**
* Python is a powerful, free programming language for data analysis
* Jupyter Notebooks have code cells and markdown cells
* **Integers** are whole numbers: `42`
* **Floats** are decimal numbers: `3.14`
* **Strings** are text and need quotes: `'Hello'`
* You can check data types with `type()`
* Python can do math operations: `+`, `-`, `*`, `/`

**Next class:** We'll learn about variables and how to store data!

---
## üè† Optional Challenge

Try this on your own:
1. Print your name and age
2. Calculate how many months old you are (age √ó 12)
3. Create a string with your favorite quote

In [ ]:
# Your challenge code here